.file-drop {
	height: 380px;
	border: 2px dashed lightgray;
	border-radius: 5px;
	margin: 35px 35px 55px 35px;
	display: flex;
	justify-content: center;
	text-align: center;
	padding: 80px;
	padding-top: 115px;
}

.file-drop-target > p {
	font-size: 21px;
}

.left-document {
	position: relative;
	bottom: 16px;
	left: 100px;
	transform: rotate(-8deg);
}

.spreadsheet-center {
	position: relative;
	left: 10px;
	z-index: 1;
}

.folder-right {
	position: relative;
	bottom: 15px;
	right: 85px;
	transform: rotate(8deg);
}

.file-drop-target > h1 {
	margin-top: 20px;
}

.file-drop-target > * {
	margin: 2px;
}

.upload-button {
	background: transparent;
	box-shadow: 0px 0px 0px transparent;
	border: 0px solid transparent;
	text-shadow: 0px 0px 0px transparent;
	color: rgb(57, 93, 255);
	font-size: 22px;
}

.upload-button {
	cursor: pointer;
}

.upload-button {
	outline: none;
}

.file-drop:hover {
	background-color: rgb(144, 238, 144, 0.25);
	border-color: green;
}

.file-drop:hover #Left-Document {
	fill-opacity: 0;
	stroke: green;
	left: 150px;
}

.file-drop:hover .left-document {
	transform: rotate(-22deg);
	left: 70px;
	bottom: 6px;
}

.file-drop:hover #Rectangle-Copy-4 {
	stroke: green;
	fill: rgb(175, 255, 175);
}

.file-drop:hover #Group-30 > * {
	fill: rgb(0, 170, 0);
	stroke: green;
}

/* The middle part of the spreadsheet shows up as a different color than the others on hover */
.file-drop:hover #Rectangle-Copy-10 {
	fill: rgb(0, 196, 0);
}

.file-drop:hover #Right-Folder {
	fill-opacity: 0;
	stroke: green;
}

.file-drop:hover .folder-right {
	transform: rotate(22deg);
	bottom: 4px;
	right: 63px;
}
