body {
	background-color: lightgray;
}

.app {
	height: 100%;
	position: fixed;
	top: 0px;
	bottom: 0px;
	right: 330px;
	width: 55%;
	background-color: white;
	transform: scale(0.7);
}

#root > h1 {
	font-size: 1.5em;
	margin: 80px 482px;
}

/* Fix the upload item list next */
