body {
	background-color: lightgray;
	justify-content: center;
}

.app {
	position: fixed;
	top: 0px;
	right: 330px;
	width: 55%;
	background-color: white;
	transform: scale(0.7);
}

#root > h1 {
	font-size: 1.5em;
	margin: 82px 482px;
}

/* Go into indivual component css and align everything properly with white backgound */
